/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #000000;
  --ifm-color-primary-dark: #000000;
  --ifm-color-primary-darker: #000000;
  --ifm-color-primary-darkest: #000000;
  --ifm-color-primary-light: #000000;
  --ifm-color-primary-lighter: #000000;
  --ifm-color-primary-lightest: #000000;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d6f7ff;
  --ifm-color-primary-dark: #a7eeff;
  --ifm-color-primary-darker: #90e9ff;
  --ifm-color-primary-darkest: #49dcff;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
}


.hero_title{
  font-size: 40px;
  font-weight: 600;
}

.hero__title_highlight{
  font-weight: bolder;
}

.hero_tagline{
  font-size: 1rem;
  font-weight: 300;
}